
/* Importação Global */
@import "/assets/css/global/global.css";

/* BANNER */

#banner {
    background-image: url("/assets/img/pages/home/banner.jpg");
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    width: 100%;
    height: 100vh;
}

.conteudo-Banner {
    transform: scaleX(-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 50%;
    padding: 0 6.5vw;
}

#banner h1 {
  margin-top: 30vh;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 95px;
  font-optical-sizing: auto;
  font-style: normal;
}

#banner p {
  font-family: "Funnel Display", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: var(--black);
  text-align: left;
  line-height: 1.5;
  max-width: 900px;
}

#banner a {
  transition: 0.4s;
}

#banner.rolagem h1 {
  opacity: 0;
}

#banner.rolagem p {
  opacity: 0;
}

#banner.rolagem a {
  opacity: 0;
}

/* MAIN */

/* CaféBresa */

#CafeBresa {
  width: 100%;
  height: auto;
  padding: 6.5vh 4%;
}

.box-Cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.img-Cafe {
  width: 40vh;
  height: 100%;
}

#Cafebresa img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: red;
}

.box-Cafe h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}

.box-Cafe p { 
  max-width: 700px;
  font-size: 20px;
}

/* Produtos */

#produtos {
  width: 100%;
  height: 80vh;
  padding: 8vh 0;
  position: relative;
}

.cont-Produtos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.box-Produtos {
  flex: 1;
  height: 60vh;
  transition: .4s;
  position: relative;
  overflow: hidden;
}

.cont-Produtos:hover .box-Produtos {
  flex: 0.93;
}

.cont-Produtos:hover .box-Produtos:hover {
  flex: 1.5;
}

.box-Produtos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.caixa-Escondida {
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  width: 100%;
  height: 30%;
  background-color: #ffffffbe;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.box-Produtos:hover .caixa-Escondida {
  opacity: 1;
  visibility: visible;
}

#produtos button {
  width: 12vw;
  height: 5vh;
  background-color: transparent;
  border: 1px solid #212529;
  color: #212529;
  transition: .4s;
  font-family: "Montsserat", sans-serif;
  font-weight: 300;
}

#produtos button:hover {
  background-color: #212529;
  color: #fff;
}

.box-Produtos a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: .4s;
  z-index: 2;
}
