
/* Importação Global */
@import "/assets/css/global/global.css";

/* BANNER */

#banner {
    background-image: url("/assets/img/pages/home/banner.jpg");
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    width: 100%;
    height: 100vh;
}

.conteudo-Banner {
    transform: scaleX(-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 50%;
    padding: 0 6.5vw;
}

#banner h1 {
  margin-top: 30vh;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 95px;
  font-optical-sizing: auto;
  font-style: normal;
}

#banner p {
  font-family: "Funnel Display", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: var(--black);
  text-align: left;
  line-height: 1.5;
  max-width: 900px;
}

#banner a {
  transition: 0.4s;
}

#banner.rolagem h1 {
  opacity: 0;
}

#banner.rolagem p {
  opacity: 0;
}

#banner.rolagem a {
  opacity: 0;
}

/* MAIN */

/* CaféBresa */

#CafeBresa {
  width: 100%;
  height: auto;
  padding: 6.5vh 4%;
}

.box-Cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.img-Cafe {
  width: 40vh;
  height: 100%;
}

#Cafebresa img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: red;
}

.box-Cafe h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}

.box-Cafe p { 
  max-width: 700px;
  font-size: 20px;
}

/* Notícias */

#noticias {
  width: 100%;
  height: auto;
}